/*Global*/
:root{
    --main-color: #d92123;
    --secondary-color: #868686;
    --tertiary-color: #eff3f4;
    --primary-text-color: #fff;
    --secondary-text-color: #191919;
}
*{
    font-family: "Lato";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

input[type="submit"]{
    cursor: pointer;
}

i{
    background-color: var(--main-color);
    color: var(--primary-text-color);
    font-size: 2.5rem;
    padding: 2rem;
}

/* Cabeçalho e banner*/

#header{
    min-height: 90vh;
    background-image: url("../img/main_banner4.png");
    background-size: cover;
    background-position: center;
    color: var(--primary-text-color);
    margin-bottom: 2rem;
    position: relative;
}
#inner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#brand{
    background-color: var(--main-color);
    padding: 1rem;
}

#navbar{
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
    margin-right: 2rem;
}

#navbar a{
    color: var(--primary-text-color);
    font-weight: bold;
    padding: 1rem;
}

.banner{
    max-width: 50%;
    padding: 4rem;
    opacity: 100;
    position: absolute;
    transition: .6s;
}

.banner h2{
    font-size: 4rem;
    margin-bottom: 1.2rem;
    position: relative;
    z-index: 2;
}

.banner p{
    font-size: 1.2rem;
}

.square{
    display: block;
    width: 150px;
    height: 150px;
    background-color: var(--main-color);
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 20px;
}